In [28]:
import pandas as pd

In [52]:
df = pd.read_csv("/Users/shreesapkota/Documents/Integrify/SymLinkHDD/APPLE_HDD/Data/Online Retail.csv",delimiter=';',)

In [53]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1.12.2010 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1.12.2010 8:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1.12.2010 8:26,"3,39",17850.0,United Kingdom

In [88]:
df.index = df.index+1

In [90]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom
2,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
5,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,France
541906,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,France
541907,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,France
541908,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,France
541909,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,France

In [75]:
df.InvoiceDate = pd.to_datetime(df.InvoiceDate,)

In [68]:
df.UnitPrice=[re.sub(',','.',string=i) for i in df.UnitPrice.values]

In [70]:
df.UnitPrice = df.UnitPrice.astype(float)

In [92]:
# Dropping all null values
df.dropna(inplace=True)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 1 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [94]:
df.to_csv('Online_Retail.csv')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

# Create table first
Before loading the data into the database, we created table as below.

CREATE TABLE Online_Retail (

    Index_num INT AUTO_INCREMENT,     
    InvoiceNo INT,
    StockCode VARCHAR(6),   
    Description VARCHAR(50),
    Quantity INT,
    InvoiceDate DATETIME,
    UnitPrice FLOAT(7,2),
    CustomerID FLOAT(7,2),
    Country VARCHAR(22),
    PRIMARY KEY(Index_num)
);

# Load csv file into the database
We have the excel file. So, first we need to save this file as csv (utf-8), separated by comma. Then we can load this file to our database.

#mysql -u root -p (start mysql with root user and password)
#show tables (check all the tables that are created)
#use my_database (name of the database)

**Loading the csv file into the table***

#LOAD DATA LOCAL INFILE "/Users/shreesapkota/Documents/Integrify/SymLinkHDD/APPLE_HDD/Data/Online Retail12.csv" 

#INTO TABLE Online_Retail FIELDS TERMINATED BY ';' 

#LINES TERMINATED by '\n' 

#IGNORE 1 LINES (Index_num, InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country);

**Error: "Loading local data is disabled; this must be enabled on both the client and server sides"**
#set global local_infile=ture

#LOAD DATA LOCAL INFILE "/Users/shreesapkota/Documents/Integrify/SymLinkHDD/APPLE_HDD/Data/Online Retail12.csv" INTO TABLE Online_Retail 
FIELDS TERMINATED BY ';' 
LINES TERMINATED by '\n' 
IGNORE 1 LINES (InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country);

# Connecting to sql server through python

"Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML operations on Table by User. Cursors are used to store Database Tables." Source: https://www.geeksforgeeks.org/what-is-cursor-in-sql/

In [95]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-py2.py3-none-any.whl (324 kB)
     |████████████████████████████████| 324 kB 6.7 MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /Users/shreesapkota/opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.15.2)
Requirement already satisfied: six>=1.9 in /Users/shreesapkota/opt/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [96]:
import mysql.connector

In [118]:
connection = mysql.connector.connect(host='localhost', user='root', passwd=pw, database='my_database')

In [119]:
cursor = connection.cursor()

In [120]:
cursor.execute("""SELECT * FROM Online_Retail""")

In [124]:
sql_data = cursor.fetchall()